[Unit]
Description=bcmbm mailbox manger process(es)

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/bcmbm
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
